<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>RHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('/favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous" SameSite="None">
    
    <script type="text/javascript">
        window.newsAPIKey = "<%= Rails.application.credentials.newapi[:api_key] %>"
        window.finAPIKey =  "<%= Rails.application.credentials.finapi[:api_key] %>"
        window.iexAPIKey =  "<%= Rails.application.credentials.iexapi[:api_key] %>"
        window.wtdAPIKey =  "<%= Rails.application.credentials.wtdapi[:api_key] %>"
    </script>
    <!-- add same site to reduce cookies error  -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
